# This requirements are for development and testing only, not for production.
pytest==8.0.1
coverage==7.4.1
flake8==7.0.0
black==24.2.0
isort==5.13.2
pytest-cov==4.1.0
mypy==1.8.0
gitchangelog==3.0.4
mkdocs==1.5.3
mkdocs-material==9.5.10
